{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Catálogo de Cursos</h1>

    {% if is_granted('ROLE_TEACHER') %}
        <a href="{{ path('app_course_new') }}" class="btn btn-primary my-2">Adicionar Novo</a>
    {% endif %}

    <form action="{{ path('app_course_index') }}" class="">
        <select class="form-select my-3 d-inline" style="width: 250px" aria-label="Default select example" name="category">
            <option selected value="">Filtrar por categoria</option>
            {% for category in categories %}
                <option value="{{ category.slug }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <select class="form-select my-3 d-inline mx-2" style="width: 250px" aria-label="Default select example" name="order">
            <option selected value="">Ordenar por:</option>
            <option value="id">Mais recente</option>
            <option value="title">Título</option>
            <option value="price">Preço</option>
        </select>

        <button class="btn rounded-circle p-2 border search" type="submit"><img src="{{ asset('img/search.png') }}" alt="Buscar" style="width: 25px"></button>
    </form>

        <div class="container">
            {% for course in courses %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('upload/coverImages/' ~ course.image) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text mb-1">{{ course.teacher.name }}</p>
                        <p class="card-text badge text-bg-dark">{{ course.category }}</p>
                        <p class="card-text fs-5 fw-bold">R${{ course.price | number_format(2, ',', '.') }}</p>
                        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    </div>
                </div>
            {% else %}
                <h3 colspan="7">Nenhum curso encontrado</h3>
            {% endfor %}
        </div>

{% endblock %}
