{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Catálogo de Cursos</h1>

    {% if is_granted('ROLE_TEACHER') %}
        <a href="{{ path('app_course_new') }}" class="btn btn-primary my-2">Adicionar Novo</a>
    {% endif %}

    <form action="{{ path('app_course_index') }}" class="">
        <select class="form-select my-3 d-inline" style="width: 250px" aria-label="Default select example" name="category">
            <option selected value="">Filtrar por categoria</option>
            {% for category in categories %}
                <option value="{{ category.slug }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <select class="form-select my-3 d-inline mx-2" style="width: 250px" aria-label="Default select example" name="order">
            <option selected value="">Ordenar por:</option>
            <option value="id">Mais recente</option>
            <option value="title">Título</option>
            <option value="price">Preço</option>
        </select>

        <button class="btn rounded-circle p-2 border search" type="submit"><img src="{{ asset('img/search.png') }}" alt="Buscar" style="width: 25px"></button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Professor</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><img src="{{ asset('upload/coverImages/' ~ course.image) }}" alt="Capa" style="width: 120px"></td>
                <td>{{ course.title }}</td>
                <td>{{ course.description }}</td>
                <td>
                  {% for category in course.categories %}
                    <div class="badge text-bg-dark">{{ category.name }}</div>
                  {% endfor %}
                </td>
                <td>{{ course.teacher.name }}</td>
                <td>{{ course.price }}</td>
                <td>
                    <div class="d-flex">

                        <a href="{{ path('app_course_show', {'id': course.id}) }}" class="btn btn-dark me-2">Detalhes</a>
                        
                        {% if is_granted('ROLE_ADMIN') or course.teacher == app.user %}
                            <a href="{{ path('app_course_edit', {'id': course.id}) }}" class="btn btn-warning me-2">Editar</a>
                        {% endif %}

                        {% if is_granted('ROLE_USER') %}
                            {% if course in cart %}
                                <form action="{{ path('app_cart_delete', {'id': course.id}) }}" method="POST">
                                    <button type="submit" class="btn btn-outline-danger">Remover do Carrinho</button>
                                </form>
                            {% elseif course in purchasedCourses %}
                                <a href="{{ path('app_my_courses') }}" class="btn btn-success">Acessar Curso</a>
                            {% elseif course.teacher != app.user %}
                                <form action="{{ path('app_cart_new', {'id': course.id}) }}" method="POST">
                                    <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
                                </form>
                            {% endif %}
                        {% endif %}

                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Nenhum curso encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
