{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Catálogo de Cursos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><img src="{{ asset('upload/coverImages/' ~ course.image) }}" alt="Capa" style="width: 120px"></td>
                <td>{{ course.title }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.category }}</td>
                <td>{{ course.price }}</td>
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">show</a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}">edit</a>

                    {% if is_granted('ROLE_USER') %}
                        <form action="{{ path('app_cart_new', {'id': course.id}) }}" method="POST">
                            <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_new') }}">Create new</a>
{% endblock %}
