{% extends 'base.html.twig' %}

{% block title %}Cursos Enviados{% endblock %}

{% block body %}
    
    <h1>Cursos Enviados</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Professor</th>
                <th>Preço</th>
                <th>Aprovação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courseList %}
            <tr>
                <td><img src="{{ asset('upload/coverImages/' ~ course.image) }}" alt="Capa" style="width: 120px"></td>
                <td>{{ course.title }}</td>
                <td>{{ course.description }}</td>
                <td>
                  {% for category in course.categories %}
                    <div class="badge text-bg-dark">{{ category.name }}</div>
                  {% endfor %}
                </td>
                <td>{{ course.teacher.name }}</td>
                <td>{{ course.price }}</td>
                <td>
                    {% if course.isVerified %}
                        <h2 class="badge text-bg-success fs-6">Aprovado</h2>
                    {% else %}
                        {% if not course.refuseMessage %}
                            <h2 class="badge text-bg-warning fs-6">Pendente</h2>
                        {% else %}
                            <h2 class="badge text-bg-danger fs-6">Recusado</h2>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <div class="d-flex">
                            <a href="{{ path('app_course_edit', {'id': course.id}) }}" class="btn btn-warning me-2">Editar</a>
                            <a href="{{ path('app_course_show', {'id': course.id}) }}" class="btn btn-dark me-2">Detalhes</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Nenhum curso encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}