{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}

    <div>

        {% for course in cartItems %}
            <div class="d-flex m-5 justify-content-between">
                <img src="{{ asset('upload/coverImages/' ~ course.image) }}" style="width: 100px">
                <h2>{{ course.title }}</h2>
                <h2>{{ course.price }}</h2>
                <form action="{{ path('app_cart_delete', {"id": course.id }) }}" method="POST">
                    <button type="submit" class="btn btn-warning">Remover do carrinho</button>
                </form>
            </div>
        {% else %}
            <h2>Nenhum item no carrinho</h2>
        {% endfor %}

        <hr>
        
        <h1>Valor Total: R${{ totalPrice | number_format(2, ',', '.') }}</h1>

        <form action="{{ path('app_payment') }}" method="POST">
            <button type="submit" class="btn btn-success">Comprar</button>
        </form>

    </div>

{% endblock %}
