{% extends 'base.html.twig' %}

{% block title %}Entrar{% endblock %}
{% block body %}

    <link rel="stylesheet" href={{asset('css/login.css')}}>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Você já está logado com o email {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
<div class="form-container">
    <main>
        <h1 class="h3 mb-3 font-weight-normal">Entrar na conta</h1>
        <label for="username">E-mail</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control mb-2" autocomplete="email" required autofocus>
        <label for="password">Senha</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-success mt-3" type="submit">
            Sign in
        </button>

        <a href="{{ path('app_forgot_password_request') }}" class="alternative-link">Esqueci a senha</a>
    </main>
<div class="img-box">
   <img src="/img/Fundologin.jpg" alt="Background">
</div>
</div>
        {#
            <div class="fazerl">lulaxbolsonaro
            capitulo 13
            </div>
        #}

    </form>
{% endblock %}
