{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

  <main>
    <h1 class="fs-5 text-align-center">Teste</h1>
    <strong>Olá</strong>

  {% if app.user %}

      <div class="mb-1">{{ app.user.name }}</div>

    {% if is_granted('ROLE_TEACHER') %}
      <div class="mb-3">{{ app.user.subject }}</div>
    {% endif %}

    {% if app.user.isVerified %}
      <div>Está verificado</div>
    {% else %}
      <div>Verifique sua conta no email enviado</div>
    {% endif %}

  {% else %}
    <div class="mb-3">Ninguém</div>
  {% endif %}

    <a href="{{ path('app_login') }}" class="btn btn-primary" >Entrar</a>
    <a href="{{ path('app_register') }}" class="btn btn-success" >Criar Conta</a>
    <a href="{{ path('app_logout') }}" class="btn btn-warning">Sair</a>
  </main>

{% endblock %}
