{% extends 'base.html.twig' %}

{% block title %}Cadastro{% endblock %}

{% block body %}

    <link rel="stylesheet" href={{asset('css/cad.css')}}>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="form-container">
        <main>
            <h1 class="aluno">Cadastro</h1>

            <div>
                {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.email) }}
                    <div class="form-group">
                    {{ form_row(registrationForm.plainPassword, { label: 'Senha'}) }}
                    {{ form_row(registrationForm.agreeTerms, {label: 'Aceito os <a href="/terms" target="_blank">Termos</a>'}) }}

                    <button type="submit" class="btn btn-success mb-1">Cadastrar</button>
                    
                {{ form_end(registrationForm) }}
            </div>

            <a href="{{ path('app_register_teacher') }}" class="alternative-link">Cadastro como professor</a>
        </main>
    </div>

{% endblock %}
